<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des categories</title>
</head>

<body>
    <div th:insert="inc/menu"></div>
    <div th:if="${#lists.isEmpty(categories)}">
        <p class="error">Aucun client enregistré</p>
    </div>
    <div th:if="${!#lists.isEmpty(categories)}">
        <table>
            <caption>Liste des catégories</caption>
            <tr>
                <th scope="col">nom </th>
                <th scope="col" class="action">Action</th>
            </tr>
            <tr th:each="categorie, boucle : ${categories}"
					th:class="${boucle.index % 2 == 0} ? 'pair' : 'impair'" th:object="${categorie}">
					<td th:text="*{nom}"></td>
					<td class="action">
						<a href="#">
							<img th:src="@{/delete.png}" alt="Supprimer" />
						</a>
					</td>
            </tr>
        </table>
</body>

</html>